@font-face
{
    font-family: 'Embedded Font';
    src: url("../fonts/Boku2-Regular.otf") format("opentype");
}
* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    overflow:hidden;
}

canvas {
    display: block;
}

#color {
    color: #BBB;
}

#panel {
    background:black;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding: 8px 5px;
    list-style: none;
    text-align: center;
}

#panel li {
    float:left;
    margin:0 3px;
}

#panel a {
    color: #000;
    text-decoration: none;
    background: #ccc;
    border-radius: 3px;
    padding: 2px 7px;
}